.features__subtitle {
    font-weight   : bold;
    font-size     : 14px;
    line-height   : 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin        : 0 0 10px 0;
    color         : $title-color;
}

.features-list {
   @extend %flex-list;
}

.features {
    padding: 94px 0 47px 0;
}

.features-list__item {
    width         : 270px;
    font-weight   : normal;
    font-size     : 14px;
    line-height   : 1.71;
    letter-spacing: 0.03em;
    color         : $discription-color;

    &:not(:last-child) {
    margin-right: 30px; 
    }
}

.features__wrapper {
    display         : flex;
    padding         : 25px 100px;
    margin-bottom   : 30px;
    background-color: $our-team-bg-color;
    border-radius   : 4px;
}

.features-item__icon {
    align-items: center;
}