.filter-list {
    display        : flex;
    justify-content: center;
    margin-bottom  : 34px;
}

.filter-item:not(:last-child) {
    margin-right: 8px;
}

.title-portfolio {
    font-weight   : 900;
    line-height   : 1.36;
    text-align    : center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color         : var(--discription-color);
}