.backdrop {
    position: fixed;
    @include sizens (100vw, 100vh);

    background-color: rgba($secondary-color, 0.2);
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.7);
    }
}
