.clients-list {
    display: flex;
}

.clients-list__item:not(:last-child) {
    margin-right: 30px;
}

.clients-list__link {
    @extend %flex-list;
    @include sizens (172px, 92px);
    @include border ($icon-color);
    justify-content: center;

    border-radius  : 4px;
    box-sizing     : border-box;
    color          : $icon-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
        @include border ($accent-color);
        color : $accent-color;
    }
}

.clients-list__icon {
    @include sizens (106px, 60px);

    fill  : currentColor;
}