.footer {
    background-color: $secondary-shade-color;
    padding: 60px 0;
}

.footer__container {
    display: flex;
}

.footer__social {
    margin-left: 93px;
    margin-top: 12px;
}

.footer__title {
    @include font (14px, 1.14, 0.003em, bold);

    text-transform: uppercase;
    margin-bottom: 20px;
    color: $primary-color;
}

.footer__subscribe {
    margin: 12px 0 0 auto;
}
