.form__field {
    margin-bottom: 10px;
}

.form__comment-field {
    display       : flex;
    flex-direction: column;
    margin-bottom : 20px;
}

.form__label {
    @include font (12px, 1.17, 0.01em, normal);
    display       : flex;
    flex-direction: column;
    margin-bottom : 4px;

    color         : $primary-text-color;
}

.form__input-wrapper {
    position: relative;
}

.form__input {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin       : 0;
    width        : 100%;
    font-size    : 14px;
    color        : $secondary-color;
    padding      : 12px 42px;
    border-radius: 4px;
    border       : 1px solid rgba($title-color, 0.2);
    box-sizing   : border-box;

    &:hover,
    &:focus {
    @include border ($accent-color);
    outline: 0;
    }

    &:hover+.form__icon,
    & :focus+.form__icon {
    fill: $accent-color;
    }
}

.form__textarea {
    @include sizens (100%, 120px);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding      : 12px 16px;
    border-radius: 4px;
    border       : 1px solid rgba($title-color, 0.2);
    resize       : none;

    color: $secondary-color;

    &::placeholder {
    @include font (14px, 1.17, 0.01em, normal);
    color         : rgba($primary-text-color, 0.5);
    text-align    : left;
    vertical-align: top;
    }

    &:hover,
    &:focus {
    @include border ($accent-color);
    outline: 0;
    }
}


.checkbox {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        outline 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom  : 30px;
    justify-content: center;
    @extend %flex-list;
}

.checkbox__label {
    @extend %flex-list;
    @include font (14px, 1.7, 0.03em, normal);

    color: $primary-text-color;
}

.checkbox__input {
    position          : absolute;
    appearance        : none;
    -webkit-appearance: none;
    -moz-appearance   : none;

    &:checked:focus+.checkbox__icon {
    background-color   : $accent-color;
    border             : 2px solid $accent-color;
    background-image   : url(../images/icon-c.svg);
    background-size    : contain;
    background-origin  : border-box;
    background-position: center;
    }
}

.checkbox__icon {
    @include sizens (16px, 16px);
    display                   : block;
    margin-right              : 8px;
    border                    : 2px solid $secondary-color;
    border-radius             : 2px;
    cursor                    : pointer;
    transition-property       : border, background-color, background-image;
    transition-duration       : 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position  : absolute;
    top       : 50%;
    left      : 12px;
    transform : translateY(-50%);
    fill      : $title-color;
}