.logo {
    font-family   : Raleway;
    font-weight   : bold;
    font-size     : 26px;
    line-height   : 1.2;
    letter-spacing: 0.03em;
}

.logo--blue {
    color: $accent-color;
}

.logo--black {
    color: $secondary-color;
}
.logo--white {
    font-family   : Raleway;
    font-weight   : bold;
    font-size     : 26px;
    line-height   : 1.2;
    letter-spacing: 0.03em;
    color         : $primary-color;
}