.nav-list {
    display: flex;

    & .nav-list__item:not(:last-child) {
        margin-right: 50px;
    }
}

.nav-list__link {
    @include font (14px, 1.15, 0.02em, 500);

    position: relative;
    display: block;
    padding: 32px 0;

    color: $secondary-shade2-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent-color;
    }

    &--current {
        color: $accent-color;
    }

    &--current::after {
        content: "";
        @include sizens (100%, 4px);
        border-radius: 2px;
        position: absolute;
        background-color: $accent-color;
        left: 0;
        bottom: 0;
    }
}