.section {
    padding: 94px 0;
}
.section-title {
    margin-bottom : 50px;
    font-weight   : bold;
    font-size     : 36px;
    line-height   : 1.16;
    letter-spacing: 0.03em;
    text-align    : center;
}