.works {
    padding: 47px 0 94px 0;
}

.works-list {
    display: flex;
}

.works-list__item {
    position   : relative;
    align-items: center;

    &:not(:last-child) {
    margin-right: 30px;
    }
}

.works-list__wrapper {
    display        : flex;
    justify-content: center;

    width     : 100%;
    padding   : 27px 0;
    background: rgba($first-bg-color, 0.8);

    position: absolute;
    left    : 0;
    bottom  : 0;
}

.works-list__direction {
    @include font (14px, 1.14, 0.03em, bold);

    text-transform: uppercase;

    color: $primary-color;
}