body {
    font-family     : "Roboto", sans-serif;
    background-color: $primary-color;
    color           : $title-color;
    margin          : 0;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}
.current {
    color: $accent-color;
}