@mixin font($fz, $lh, $ls, $fw) {
    font-size: $fz;
    line-height: $lh;
    letter-spacing: $ls;
    font-weight: $fw;
}

@mixin sizens ($w, $h) {
        width: $w;
        height: $h;
}

@mixin border ($color) {
    border: 1px solid $color;
}