:root {
    --primary-color         : #ffffff;
    --title-color           : #212121;
    --first-background-color: #2f303a;
    --our-team-bg-color     : #f5f4fa;
    --discription-color     : #757575;
    --accent-color          : #2196f3;
    --secondary-color       : #000000;
    --footer-color-link     : rgba(255, 255, 255, 0.6);
    --border-solid-color    : #eeeeee;
    --border-bottom-color   : #ececec;
    --svg-icon-color        : #afb1b8;
    --modal-color-input     : rgba(117, 117, 117, 0.5);
}