    $primary-color: #ffffff;
    $primary-shade-color: #f5f4fa;
    $primary-shade2-color: #757575;
    
    $secondary-color: #000000;
    $secondary-shade-color: #2f303a;
    $secondary-shade2-color: #212121;

    $accent-color: #2196f3;
    $border-color: #eeeeee;
    $line-color: #ececec;
    
    $icon-color: #afb1b8;