    $primary-color         : #ffffff;
    $title-color           : #212121;
    $first-bg-color: #2f303a;
    $secondary-bg-color     : #f5f4fa;
    $primary-text-color     : #757575;
    $accent-color          : #2196f3;
    $secondary-color       : #000000;
    $border-solid-color    : #eeeeee;
    $border-bottom-color   : #ececec;
    $icon-color        : #afb1b8;
