.checkbox {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        outline 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 30px;
    justify-content: center;
    @extend %flex-list;
}

.checkbox__label {
    @extend %flex-list;
    @include font (14px, 1.7, 0.03em, normal);

    color: $primary-shade2-color;
}

.checkbox__input {
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:checked:focus+.checkbox__icon {
        background-color: $accent-color;
        border: 2px solid $accent-color;
        background-image: url(../images/icon-c.svg);
        background-size: contain;
        background-origin: border-box;
        background-position: center;
    }
}

.checkbox__icon {
    @include sizens (16px, 16px);
    display: block;
    margin-right: 8px;
    border: 2px solid $secondary-color;
    border-radius: 2px;
    cursor: pointer;
    transition-property: border, background-color, background-image;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}