.input {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0;
    width: 100%;
    font-size: 14px;
    color: $secondary-color;
    padding: 12px 42px;
    border-radius: 4px;
    border: 1px solid rgba($secondary-shade2-color, 0.2);
    box-sizing: border-box;

    &:hover,
    &:focus {
        @include border ($accent-color);
        outline: 0;
    }

    &:hover+.input-field__icon,
    &:focus+.input-field__icon {
        fill: $accent-color;
    }
}
